.row
  .col-md-9
    %h1 Your Notifications
  .col-md-3= link_to 'Create Notification', new_notification_path, class: 'btn btn-outline-primary btn-lg float-md-right'
%hr
.card-columns
  = render @notifications
