.row
  .col
    #jumbo
      .text-light.d-none.d-xl-block.d-lg-block
        %h1.display-4 Never miss a good surf.
        %p.lead Stop checking forecasts every day. Get notified!
        %br
      .text-light.d-none.d-md-block.d-lg-none
        %h1.display-4 Never miss a good surf.
        %p.lead.mt-4
          Stop checking forecasts every day.
          %br
          %strong Get notified!
        %br
        %br
      .text-light.d-md-none
        %h2 Never miss a good surf.
        %h3.mt-3 Get notified!
        %br
      %p.lead
        = link_to 'Sign up', new_registration_path(:user), class: 'btn-primary btn-lg'
