@import 'bootstrap-custom';
@import 'bootstrap';
@import 'footer';
@import 'login-signup';
@import 'notifications';
@import 'font-awesome';
@import 'selectize';
@import 'selectize.default';
@import 'nouislider';

main.container {
  margin-top: 20px;
  margin-bottom: 90px;
}

.navbar-brand > img {
  height: 33px;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

label.required:after {
  content:" *";
}

.field_with_errors > input {
  @extend .is-invalid;
}

.dev-bg {
  background: green !important;
}

@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}