
.logorowlp {
  width: 100%;
  padding-right: 10px;

  text-align: left;
  background-color: transparent;
  text-transform: uppercase;
}

.strong-name-lp {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
    text-align: left;
    padding-left: 15px;
}

.light-name-lp {
  font-weight: normal;
  font-size: 28px;
  font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
    text-align: left;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.btn-leadlp {
  background-color: #6bc0f3;
  border: 1px solid #6bc0f3;
  background: #6bc0f3;
  background-image: -webkit-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: -moz-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: -ms-linear-gradient(top, #189e47, #42a163);
  background-image: -o-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: linear-gradient(to bottom, #6bc0f3, #6bc0f3);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  float: right;
  margin-bottom: 25px;
  position: absolute;
  left: 450px;
  top: 500px;

    

}

.btn-leadlp:hover {
  background: transparent;
  color: #6bc0f3;
}

.btn-leadlow {
  background-color: #6bc0f3;
  border: 1px solid #6bc0f3;
  background: #6bc0f3;
  background-image: -webkit-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: -moz-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: -ms-linear-gradient(top, #189e47, #42a163);
  background-image: -o-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: linear-gradient(to bottom, #6bc0f3, #6bc0f3);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;


    

}

.btn-new {
  background-color: #6bc0f3;
  border: 1px solid #6bc0f3;
  background: #6bc0f3;
  background-image: -webkit-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: -moz-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: -ms-linear-gradient(top, #189e47, #42a163);
  background-image: -o-linear-gradient(top, #6bc0f3, #6bc0f3);
  background-image: linear-gradient(to bottom, #6bc0f3, #6bc0f3);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;



    

}

.btn-leadlow:hover {
  background: transparent;
  color: #6bc0f3;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    margin-bottom: 0;
    text-align: center;
    color: black;
    background: url(surfbreak.jpg) no-repeat;
    
}

.intro-message {
    position: relative;
    padding-top: 250px;
    padding-left: 50px;
    padding-bottom: 20%;
    text-align: left;
    line-height: 0.5;
    width: 100%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;

}

.row.lp {
    padding-bottom: 100px;
    text-align: left;
}

.col-6.right {
    text-align: right;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
     font-size: 3.5em;
     text-align: left;
     color: white;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;

    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}


.content-section-b {
    
    
}

.section-heading {
    margin-bottom: 30px;
}
.section-title {
    text-align: center;
    font-size: 3.5em;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #cecece;
}

.copyright text-muted small {
    color: #fff;
}

p.copyright {
    margin: 15px 0 0;
}

.btn-lead {
  color: #333;
  background-color: #f5810e;
  color: #fff;
  border-color: #ccc;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.btn-lead:hover {
  color: #d3d3d3;
  background-color: #e88d34;

  border-color: #ccc;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.contact{ 

  text-align: center;
  padding-bottom: 100px;
}


.imprintContainer {
    text-align: center;
    height: 100px;
    padding: 10px 0;
    padding-bottom: 100px;
}

.imprintContainer p {
    display: inline-block;
    text-align: left;

}


.footer-stripe {
    padding: .25rem 0;
    border: none;
    background: linear-gradient(-90deg,#e88d34,#ef943b 14%,#e8ab6f 48%,#efbf8f 70%,#f9ddc0);
}

.row { margin: 0; padding: 0 }

