.range-slider, .cardinal-direction  {
  margin: 15px 0 40px 0;
}

canvas.cardinal-direction-canvas {
  width: 100%;
}

.additional-match {
  margin-top: 5px;
  display: none;
}

.first-match {
  display: block;
}

.toggle-matches > .up {
  display: none;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}