%footer.footer
  .container
    .row
      .col-6.text-muted
        &copy; Surfnotify 2018
      .col-6.text-right
        = link_to 'Terms', terms_page_path, class: 'text-muted'
        ,
        = link_to 'Privacy Policy', privacy_policy_page_path, class: 'text-muted'