%footer.footer
  .container
    .row
      .col-10.text-muted
        &copy; Surfnotify 2018
      .col-2.text-right
        = link_to 'Terms', terms_page_path, class: 'btn btn-outline-secondary btn-sm'