<div class="logorow">
          <a href=".."><img src="https://c1.staticflickr.com/9/8376/8433224810_68f092d303.jpg" class="logo"></a><a href=".."><h1 class="strong-name" style="display: inline-block;">SURF <span class="light-name">NOTIFY</span></h1></a>
</div><br>